  

.App {  
  height: 100vh;
  width: 100vw;
  margin-top: 10%;
  text-align: center;
  background-color:black;
  display: grid;
  color: white;
  font-family: "Helvetica";
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  text-decoration: none!important;
}
.App .headshot {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%);
}
h1 {
  font-size: 90%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none!important;
}

p, p:visited, p:link, p:hover  {
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none!important;
  color: white;
}
html {
  height: 100vh;
  background-color:black;
  overflow: hidden;
  text-decoration: none!important;
}
