  

.App {  
  margin-top: 5%;
  text-align: center;
  background-color:black;
  display: grid;
  color: white;
  font-family: "Helvetica";
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
.App .headshot {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%);
}
h1 {
  font-size: 90%;
  margin-left: auto;
  margin-right: auto;
}
h1:after {
  content: " ";
  display: block;
  width: 80%;
  height: 0.05px;
  background-color: white;
  border-radius: 15px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
}
html {
  height: 100%;
  background-color:black;
}