  
.Socials2 {
    display: flex; 
    flex-direction: column; 
    align-items: start; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50%;
    text-decoration: none!important;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none!important;
  }
  .container .link {
    display: flex;
    align-items: center;
    max-height: 35px;
    margin-top: 5px;
    border: solid white 1px;
    border-radius: 15px;
    width: 225px;
    text-decoration: none!important;
  }

  .link:hover {
    transform: scale(1.2);
    background-color: rgb(251, 2, 2, 0.5);
    text-decoration: none!important;
    }
  .link img {
    display:flex;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.1s;
    filter: invert(1);
  }


  